# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
Resources/Models/muav_limestone_usa.glb filter=lfs diff=lfs merge=lfs -text
Resources/textures/Ground_Pavement_tgluefvaw_8K_BaseColor.jpg filter=lfs diff=lfs merge=lfs -text
Resources/Sound/UI/ui_sound.ogg filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_normal.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_normal.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_roughness.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_albedo.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_ao.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_normal.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_albedo.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_normal.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_ao.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_roughness.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_ao.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_ao.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_normal.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_roughness.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_albedo.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_a_ao.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_ao.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_roughness.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_roughness.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_roughness.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_albedo.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_normal.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_b_albedo.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Rock/Texture/stone_small_c_albedo.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_1.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_2.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_3.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_3.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree.glb filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_0.png filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_0.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree.glb.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_1.png.import filter=lfs diff=lfs merge=lfs -text
Resources/Models/Tree/FBX/birch[[:space:]]tree_Image_2.png.import filter=lfs diff=lfs merge=lfs -text
Resources/hdri/rogland_clear_night_4k.exr filter=lfs diff=lfs merge=lfs -text
